header {
    background-color: #cc5500;
    color: white;
}

body {
    margin: 0;
    background-color: #e5e5e5;
}

h1 {
    margin: 0;
    padding: 1rem;
}

main {
    padding-bottom: 2em;
}

.circle {
    margin: 0 auto;
}

.circle img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 50%;
}

.circle ul {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0 auto;
    font-size: 2vw;
}

.first {
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
}

.first ul {
    list-style-type: none;
    padding: 0;
}

.first ul li {
    padding: .2em;
}

.second {
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
}

.second ul {
    list-style-type: none;
    padding: 0;
}

.second ul li {
    padding: .2em;
}

.third {
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
}

.third ul {
    list-style-type: none;
    padding: 0;
}

.third ul li {
    padding: .2em;
}